<!DOCTYPE html>
<html>
<head>
    {include file="common/head";}
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        {include file="common/teacher/nav";}
    </div>
    <div class="layui-row">
        <div class="layui-col-xs10">
            {include file="common/teacher/tabs";}
        </div>
    </div>
</div>
{include file="common/js";}
<script>
    layui.use('laypage', function(){
        var laypage = layui.laypage;

        //执行一个laypage实例
        laypage.render({
            elem: 'test1' //注意，这里的 test1 是 ID，不用加 # 号
            ,count: 4 //数据总数，从服务端得到
        });
    });
</script>
</body>
</html>