<ul class="layui-nav">
    <li class="layui-nav-item">
        <a href="">选手审核</a>
    </li>
    <li class="layui-nav-item">
        <a href="">参赛评分</a>
    </li>
    <li class="layui-nav-item">
        <a href="">用户管理</a>
    </li>
    <li class="layui-nav-item">
        <a href="">参赛名单</a>
    </li>
    <li class="layui-nav-item">
        <a href=""><i class="fa fa-user-o"></i>-{$name}</a>
        <dl class="layui-nav-child">
            <dd><a href="javascript:;">修改信息</a></dd>
            <dd><a href="{:url('Delcookie/index')}">退了</a></dd>
        </dl>
    </li>
</ul>