<!DOCTYPE html>
<html lang="en">
<head>
    {include file="common/head";}
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md12">
            {include file="common/admin/nav";}
        </div>
        <div class="layui-row">
            <div class="layui-col-xs4"><br></div>
            <div class="layui-col-xs4">
                {include file="common/admin/usermanagerlist";}
            </div>
        </div>
    </div>
</div>
{include file="common/js";}
</body>
</html>