<div class="layui-card ">
    <div class="layui-card-header">新闻咨询--更多</div>
    <div class="layui-card-body">
        <li><a href="http://www.scmvc.cn/SiteHtml/563/614/201804/23590.html" target="_blank" >2018年全省高职院校“工业产品数字化设计与制造”技能大赛</a></li>
        <li><a href="http://www.scmvc.cn/SiteHtml/563/614/201804/23642.html" target="_blank">2018年四川省高职院校大学生制造单元智能化改造与集成技术大赛</a></li>
        <li><a href="http://www.scmvc.cn/SiteHtml/563/614/201807/25621.html" target="_blank">2018年全国艺术设计大赛</a></li>
        <li><a href="http://www.scmvc.cn/SiteHtml/563/614/201807/25602.html" target="_blank">2048年全国大学生广告艺术大赛</a></li>
    </div>
</div>