<ul class="layui-nav" lay-filter="">
    <li class="layui-nav-item"><a href="{:url('Index/index')}">首页</a></li>
    <li class="layui-nav-item"><a href="{:url('Index/project')}">大赛项目</a></li>
    <li class="layui-nav-item"><a href="{:url('Index/rules')}">大赛规程</a></li>
    <li class="layui-nav-item"><a href="{:url('Index/apply')}">报名参加</a></li>
    <li class="layui-nav-item"><a href="{:url('Index/list')}">参赛名单</a></li>
    <li class="layui-nav-item"><a href="{:url('Index/about')}">联系我们</a></li>
</ul>