<div class="layui-tab layui-tab-card">
    <ul class="layui-tab-title">
        <li class="layui-this">逆向工程类</li>
        <li>快速成型类</li>
        <li>工业机器人类</li>
        <li>自动化设计类</li>
        <li>工业设计类</li>
    </ul>
    <div class="layui-tab-content">
        <div class="layui-tab-item layui-show">内容1</div>
        <div class="layui-tab-item">内容2</div>
        <div class="layui-tab-item">内容3</div>
        <div class="layui-tab-item">内容4</div>
        <div class="layui-tab-item">内容5</div>
    </div>
</div>